<!DOCTYPE html>
<html>
  
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
  
<body>

<mat-toolbar color="primary"class="toolbar">
  <mat-toolbar-row>
    <span> </span>
    <div class="spacer"></div>
    <div  class="navbar navbar-expand-lg ">
    <div class="container-fluid">
  <a href="#home" mat-button>Home</a>
  <a href="#about" mat-button>About</a>
  <a href="#resume" mat-button>Resume</a>
  <a href="#contact" mat-button>Contact</a>
    </div>
    </div>
  </mat-toolbar-row>
  
  
</mat-toolbar>

<mat-card class="card1" id="home"style="height: 50vh;">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="content1">
    <div>
    <h1 class="main">Hi 
      <span class="wave">👋👋</span></h1>
      <h1><b>I'm Elgar Mokaya</b></h1>
      <h1 style= "font-family: Lucida Console">Full stack developer</h1>
      <a href="#contact"><button type="button" class="btn btn-primary btn-lg">Contact Me</button></a>
    </div>
    <div >
    <img src="https://camo.githubusercontent.com/1a7e76c236c9fdf44d411106849a7e195825df02abfed1c7ee3f699732023293/68747470733a2f2f63646e2e6472696262626c652e636f6d2f75736572732f323334333435392f73637265656e73686f74732f31343339333730392f6d656469612f31663736623338626665653662313238326366386131656332623737336639632e676966" alt="css3" style ="width: 250px;">
    </div>
  </mat-card-content>
  <mat-card-actions>
   
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<!--languages-->
<mat-card class="example-card" id="about"style="height: 50vh;">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
       
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div style="justify-content:center;">
      <h2 >Languages and Tools</h2>
    </div>
    
    <div class="languages">
   
      <div class="card-body">
    <figure  *ngFor="let image of images;">
      <img src={{image.src}} alt="css3" style="width: 80px;">
      <figcaption>{{image.label}}</figcaption>
  
  </figure>
      </div>
</div>


  
    
  </mat-card-content>
</mat-card>

<!---resume-->

<mat-card class="example-card" id="resume" style="text-align: center;height: 50vh;">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title style="text-align: center;">
        
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div style="justify-content:center;color: #0082ca;">
    <h1 >My Resume</h1>
  </div>
   <div>
    <h2>{{desc}}</h2>
    <h2>{{course}}</h2>
   </div>
  </mat-card-content>
  <mat-card-actions>
    <a href="https://drive.google.com/drive/folders/1ISxJYnuvQ8qpIUFmOAzd8Wk4fNw5_cwt"><button mat-raised-button color="primary"><i class="fa fa-download "></i>Download Cv</button></a>
  </mat-card-actions>
</mat-card>
<!---social media-->


    <mat-card class="example-card" id="contact"style="height: 50vh;">
      
      <mat-card-content style="text-align: center;">
        <div style="justify-content:center;color: #0082ca;">
          <h1 >Contact  Me:</h1>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="card"style="height: 30vh;">
              <div class="card-body">
                <i class="fa fa-envelope fa-2x" style="color: #0082ca;"></i>
                <h5 class="card-title"style="color: blue;">Email</h5>
                <p>elgarmokaya01@gmail.com</p>
                <p>bosiborimokaya83@gmail.com</p>
                
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card"style="height: 30vh;">
              <div class="card-body">
                <i class="fa fa-globe fa-2x" style="color: blue;"></i>
                <h5 class="card-title">Social media</h5>
                <a href="https://mobile.twitter.com/elgarmokaya" class="fa fa-twitter fa-2x" style="color: #55acee;"></a>
                <a href="https://www.linkedin.com/in/elgar-mokaya-09b8491a3/" class="fa fa-linkedin fa-2x" style="color: #0082ca;"></a>
                <a href="https://github.com//ElgarMokaya" class="fa fa-github fa-2x" style="color: #333333;"></a>
                
                            
                
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card"style="height: 30vh;">
              <div class="card-body">
                <i class="fa fa-phone fa-2x"style="color: blue;"></i>
                <h5 class="card-title">Phone</h5>
                <p class="card-text">(+254)799497771.</p>
                
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      
    </mat-card>
    <!--footer-->

    <!-- <mat-card class="footer"id="footer">
      <mat-card-content>
        <div class="footer-details">
          <a href="https://mobile.twitter.com/elgarmokaya" class="fa fa-twitter"></a>
          <a href="https://www.linkedin.com/in/elgar-mokaya-09b8491a3/" class="fa fa-linkedin"></a>
          <a href="https://github.com//ElgarMokaya" class="fa fa-github"></a>
          <div class="signature">
              <p >elgar mokaya | All rights reserved</p>
                 </div>
          </div>
      </mat-card-content>
    </mat-card> -->
  </body>
  
  </html>
<router-outlet></router-outlet>